<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="main">
        <input type="text" id="display" readonly class="resultDisplay">

        <div class="buttons">
            <div class="numberButtons">
                <button class="operator">%</button>
                <button class="operator">root</button>
                <button class="operator">X^2</button>
                <button class="operator">1/X</button>
                <button class="clear">CE</button>
                <button class="clear">C</button>
                <button id="delete">Del</button>
                <button class="operator">/</button>
                <button class="number">7</button>
                <button class="number">8</button>
                <button class="number">9</button>
                <button class="operator">*</button>
                <button class="number">4</button>
                <button class="number">5</button>
                <button class="number">6</button>
                <button class="operator">-</button>
                <button class="number">1</button>
                <button class="number">2</button>
                <button class="number">3</button>
                <button class="operator">+</button>
                <button class="operator">X!</button>
                <button class="number">0</button>
                <button class="operator">.</button>
                <button id="equal">=</button>

            </div>
        </div>
</body>
<script src="static/script.js">

</script>

</html>